
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-image: url('/src/img/wishlistimg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:200vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app{
    background-image: url('/src/img/wishlistimg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0px 0px 20px rgba(227, 235, 156, 0.804),
                0px 0px 30px rgba(245, 245, 245, 0.129),
                0px 0px 40px rgba(245, 245, 245, 0.129);
}